.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.light-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/*
* The home section begins below here
*/ 

.home-splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/test_bg.jpg');
  background-size: cover;
  height: 100vh;
}

.home-splash-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  word-wrap: normal;
  color: white;
  font-weight: bolder;
  padding-bottom: 50px;
}

.chevron-container {
  margin-bottom: 0px;
  padding-top: 10%;
  
  position:relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.chevron-text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
* About Section
*/
.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(209, 250, 250);
}

.about-title .header {
  font-size: 60px;
  color: black;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}

.about-title .info-header {
  font-size: 30px;
  color: black;
  margin-right: auto;
  margin-left: auto;
  padding: 3%;
}
  
.about-title .text{
  font-size: 22px;
  letter-spacing: 0.03em;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
}
  
.about-title-header{
  margin-left: 45%;
  margin-right: 45%;
  border: none;
  height: 5px !important;
  background: powderblue;
  opacity: 100%;
}

.about-title .pfp-image {
  padding-top: 0;
}

