@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/* .Container {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
} */

/* .project-hexa:hover {
    background: #34495e;
    color: #ecf0f1;
  }
  .project-hexa:hover:before {
    border-bottom: 34.64101615px solid #34495e;
  }
  .project-hexa:hover:after {
    border-top: 34.64101615px solid #34495e;
  }
   */
/* :root{
    --hexh: 200px;
    --hexw: 230.9401077px;
    --uwu: var(--hexw)/2;
}
section {
    margin-top: 150px;
}
.project-hexa {
    color: #7f8c8d;
    position: relative;
    display: inline-block;
    margin: calc(var(--hexw)/2) auto;
    height: var(--hexw);
    width: calc(var(--hexh)*2);
    background: #2c3e50;
    transition: all 0.5s;
    margin-right: 10px;
}
.project-hexa.empty {
    background: transparent;
} 

.project-hexa_text {
    position: absolute;
    width: calc(var(--hexh)*2);
    height: var(--hexw);
    top: 0px;
    left: 0px;
    font-family: "Segoe UI";
    font-size: 18px;
    text-align: center;
    line-height: 33px;
}
  /this is the border around the non transparent hexagons
.project-hexa:not(.empty):before, .project-hexa:not(.empty):after {
    position: absolute;
    content: "";
    width: 0px;
    left: 0px;
    transition: all 0.5s;
} 


.project-hexa:before {
    top: calc(var(--hexw)/2*-1 + 1px);
    border-top: 0px solid transparent;
    border-bottom: calc(var(--hexw)/2) solid #2c3e50;
    border-left: var(--hexh) solid transparent;
    border-right: var(--hexh) solid transparent;
}
  
.project-hexa:after {
    bottom:  calc(var(--hexw)/2*-1 + 1.2px);
    border-bottom: 0px solid transparent;
    border-top: calc(var(--hexw)/2) solid #2c3e50;
    border-left: var(--hexh) solid transparent;
    border-right: var(--hexh) solid transparent;
}



.project-hexaline {
    margin-top: calc(var(--hexw)/2*-1);
}
*/

.projects-img {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 50%;
  z-index: -1;
}
  
.projects-hexagon-gallery {
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
  max-width: 80vw;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-auto-columns: 22.2vw;
  grid-auto-rows: 13.3vw;
  padding-bottom: 50px;
}

/* original */
/* .projects-hex {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 28.5vw;
  background-color: #424242;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
} */

.projects-hex {
  display: flex;
  flex-direction: column;
  width: 28.5vw;
  height: 28.5vw;
  background-color: #424242;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.projects-text {
  vertical-align: middle;
  margin-top: 45%;
  margin-bottom: auto;
  animation: ease 1s;
}

.projects-description {
  margin-top: 10vw;
  font-size: 20px;
}

.projects-hex p {
  color: white;
  padding: 0 1vw;
  margin-left: auto;
  margin-right: auto;

}

@keyframes projects-translate-up {
  100% {
    transform: translateY(-23vw);
  }
}

/* this doesnt workkk */
@keyframes projects-translate-down {
  100% {
    transform: translateY(23vw);
  }
}

.projects-hex:hover {
  background-color: black;
}

.projects-hex:hover >.projects-text {
  animation: projects-translate-up 1s forwards;
}

.projects-overlay:active
/* 
.projects-text:not(:hover) {
  animation: projects-translate-down;
} */

.projects-overlay {
  position: absolute;
  display: flex;
  width: 25vw;
  height: 25vw;
  background-color: #424242;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.projects-overlay p{
  text-align: center;
  display: inline-block;
  font-size: 2.5vw;
  border: 2px solid white;
  background-color: grey;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  color: white;
  padding: 0 1vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.projects-overlay p:hover {
  background-color: lightgrey;
}

.projects-hex:hover .projects-overlay {
  opacity: 1;
}

/* .projects-hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.projects-hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.projects-hex:nth-child(3) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.projects-hex:nth-child(4) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.projects-hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}
  
.projects-hex:nth-child(6) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.projects-hex:nth-child(7) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.projects-hex:nth-child(8) {
  grid-row-start: 4;
  grid-column: 1 / span 2;
}

.projects-hex:nth-child(9) {
  grid-row-start: 4;
  grid-column: 3 / span 2;
}

.projects-hex:nth-child(10) {
  grid-row-start: 4;
  grid-column: 5 / span 2;
} */
  


.projects-hex:first-child {
  grid-row-start: 1;
  grid-column: 1;
}

.projects-hex:nth-child(2) {
  grid-row-start: 2;
  grid-column: 2;
}

.projects-hex:nth-child(3) {
  grid-row-start: 1;
  grid-column: 3;
}

.projects-hex:nth-child(4) {
  grid-row-start: 3;
  grid-column: 1;
}

.projects-hex:nth-child(5) {
  grid-row-start: 4;
  grid-column: 2;
}
  
.projects-hex:nth-child(6) {
  grid-row-start: 3;
  grid-column: 3;
}

.projects-hex:nth-child(7) {
  grid-row-start: 5;
  grid-column: 1;
}

.projects-hex:nth-child(8) {
  grid-row-start: 5;
  grid-column: 3;
}
