@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

.Container {
    padding-left: 10%;
    padding-right: 10%;
}

.work-info-r {
    text-align: right;
    color:dimgrey;
    padding-right: 5%
  }

.work-info-l {
    text-align: left;
    color:dimgrey;
    padding-left: 5%;
  }


.work-header{
    background-color:whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: calc(2vmin);
    font-weight: bold;
    text-align: center;
    color: black;
    border-left: thick solid powderblue;
    padding-bottom:0%;
}