@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

.Container {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
}

.work-info-r {
    text-align: right;
    color:dimgrey;
    padding-right: 5%
  }

.work-info-l {
    text-align: left;
    color:dimgrey;
    padding-left: 5%;
  }


.work-header{
    background-color:whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: calc(2vmin);
    font-weight: bold;
    text-align: center;
    color: black;
    border-left: thick solid powderblue;
    padding-bottom:0%;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  
}

.box {
  display: flex;
  flex-direction: row;
}

.work {
  margin: auto;
  margin-top: 10%;
  width: 20%;
  text-align: left;
}

.description {
  margin: auto;
  margin-top: 10%;
  width: 60%;
  text-align: left;
}

.work .header {
  font-size: calc(2.75vmin);
  font-weight: 600;
}


.description .header {
  font-size: calc(2.5vmin);
  font-weight: 600;
}

p {
  font-size: 2.25vmin;
}

.title {
  font-size: 8vmin;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.title p{
  font-size: 2.75vmin;
}

.line {
}
